<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<style>     
  
  .container {
    max-width: 700px;
    background: #fff;
    box-shadow: 1px 1px 2px #dad7d7;
    border-radius: 3px;
    margin-top: 50px;
}
</style>


<div class="container">
  <div class="header">
      <h1 style="font-size:30px" class="first-name">{{cv.name}}</span> 
    <h3 class="position">{{ cv.designation }} </h3>
    <div class="contact-info">
      <p>
        <span class="email"><strong>Email:</strong> </span>
        <span class="email-val">{{ cv.mail }}</span>
      </p>
      <p>
        <span class="phone"><strong></strong>Phone:</strong></span>
        <span class="phone-val">{{ cv.contact }}</span>
      </p>
      <p>
        <span class="email"><strong>LinkedIn:</strong></span>
        <span class="phone-val">{{ cv.linkedin }}</span>
      </p>
      <p>
        <span class="email"><strong>Address:</strong></span>
        <span class="address-val">{{ cv.address }}</span>
      </p>
      <!-- <span class="separator"></span> -->
      
    </div>
    
      
      <p class="desc">
        {{ cv.about }}
      </p>
  </div>
   <div class="details">
    <div class="section">
      <h3 class="section__title">Experience</h3>
      <div class="section__list">

        <div class="section__list-item">
          <div class="left">
            <p class="name">{{ cv.experience_company|default_if_none:"" }}</p>
            <p class="addr">{{ cv.experience_job_title|default_if_none:"" }}</p>
            <p class="addr">{{ cv.experience_location|default_if_none:"" }}</p>
            <p class="duration">{{ cv.experience_duration|default_if_none:"" }}</p>
            <h4>Description</h4>
            <p class="desc">{{ cv.experience_description|default_if_none:"" }}</p>
          </div>
          <!-- <div class="right">
            <div class="name">{{ cv.experience_job_title }}</div>
            <div class="desc">{{ cv.experience_description }}</div>
          </div> -->
        </div>
                <!-- <div class="section__list-item">
          <div class="left">
            <div class="name">Akount</div>
            <div class="addr">San Monica, CA</div>
            <div class="duration">Jan 2011 - Feb 2015</div>
          </div>
          <div class="right">
            <div class="name">Fr developer</div>
            <div class="desc">did This and that</div>
          </div>
        </div> -->

      </div>
    </div>

    <div class="section">
      <h3 class="section__title">Education</h3>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <p class="name">{{ cv.education_college|default_if_none:"" }}</p>
            <p class="addr">{{ cv.education_degree|default_if_none:"" }}</p>
            <p class="addr">{{ cv.experience_location|default_if_none:"" }}</p>
            <p class="duration">{{ cv.education_duration|default_if_none:"" }}</p>
            <h4>Description</h4>
            <p class="desc">{{ cv.experience_description|default_if_none:"" }}</p>
          </div>
          <!-- <div class="right">
            <div class="name">Fr developer</div>
            <div class="desc">{{ cv.experience_description }}</div>
          </div> -->
        </div>

      </div>
      
  </div>
     <!-- <div class="section">
      <div class="section__title">Projects</div> 
       <div class="section__list">
         <div class="section__list-item">
           <div class="name">DSP</div>
           <div class="text">I am a front-end developer with more than 3 years of experience writing html, css, and js. I'm motivated, result-focused and seeking a successful team-oriented company with opportunity to grow.</div>
         </div>
         
         <div class="section__list-item">
                    <div class="name">DSP</div>
           <div class="text">I am a front-end developer with more than 3 years of experience writing html, css, and js. I'm motivated, result-focused and seeking a successful team-oriented company with opportunity to grow. <a href="/login">link</a>
           </div>
         </div>
       </div>
    </div> -->
     <div class="section">
       <h3 class="section__title">Skills</h3>
       <div class="skills">

        {% for skill in cv.skills %}
             <p>{{ skill|default_if_none:"" }}</p>
        </div>
        {% endfor %}
         

       </div>
       
         
       </div>
     <div class="section">
     <h3 class="section__title">
       Interests
       </h3>

       {% for interest in cv.interests %}
            <p>{{ interest|default_if_none:"" }}</p>
       {% endfor %}

     </div>
     </div>
  </div>
</div>