{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% load widget_tweaks %}
{% block content %}

<div class="auth">
    <div class="inner-auth">
        <div class="auth-header">
            <h1>Log In</h1>
        </div>

        <form method="POST" class='auth-body'>
            {% csrf_token %}
            <div class="auth-email">
                <label htmlFor="email">Email</label>
                {% render_field form.username autocomplete="off" %}
                
            </div>

            <div class="auth-password">
                <label htmlFor="password">Password</label>
                {% render_field form.password type="password" %}
                {% if form.errors %}
                    <span class="error-message">{{ form.non_field_errors }}</span>
                {% endif %}
            </div>
            
            <button type="submit">Log In</button>
        </form>
        <div class="auth-footer">
            <p>Need an account?</p>
            <a href="{% url 'signup' %}">signup</a>
        </div>
    </div>
</div>

{% endblock %}