{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% load widget_tweaks %}
{% block content %}

    <div class="auth">
        <div class="inner-auth">
            <div class="auth-header">
                <h1>Sign Up</h1>
            </div>

            <form method="POST" class='auth-body'>
                {% csrf_token %}
                <div class="auth-username">
                    <label htmlFor="username">Username</label>
                    {% render_field form.username %}
                    {% if form.errors.username %}
                        <span class="error-message">{{form.errors.username}}</span>
                    {% endif %}
                </div>

                <div class="auth-email">
                    <label htmlFor="email">Email</label>
                    {% render_field form.email %}
                    {% if form.errors.email %}
                        <span class="error-message">{{form.errors.email}}</span>
                    {% endif %}
                </div>

                <div class="auth-password">
                    <label htmlFor="password">Password</label>
                    {% render_field form.password1 %}
                    {% if form.errors.password1 %}
                        <span class="error-message">{{form.errors.password1}}</span>
                    {% endif %}
                </div>

                <div class="auth-confirm-password">
                    <label htmlFor="confirm-password">Confirm Password</label>
                    {% render_field form.password2 %}
                    {% if form.errors.password2 %}
                        <span class="error-message">{{form.errors.password2}}</span>
                    {% endif %}
                </div>

                <button type='submit'>Sign Up</button>
            </form>

            <div class="auth-footer">
                <p>Already have an account?</p>
                <a href="{% url 'login' %}">login</a>
            </div>
            
        </div>
    </div>
{% endblock %}